/* SEC: Imports */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


/* SEC: CSS Variables Setup */
:root {
    /* SEC C: Colors */
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --very-dark-blue-bg: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    /* SEC C: Fonts */
    --font-size-p: 18px;

    --font: Outfit;
    /* Weights: 300, 400, 600 */
}

/* SEC:Helper Classes */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SEC: Main Styling */
body {
    background-color: var(--very-dark-blue-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 350px;
    height: 596px;
    background-color: var(--very-dark-blue-card);
    padding: 24px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border-radius: 15px;

}

#equilibrium-img {
    width: 302px;
    height: 302px;
    border-radius: 8px;
}


/* SEC: Text */
.text-conatiner {
    width: 302px;
}

h1 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: var(--white);
}

.text-container p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: var(--soft-blue);
}

/* SEC: Price and Time */
.pricing-container {
    width: 302px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.price span {
    color: var(--cyan);
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-left: 5px;
}

.time-left span {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--soft-blue);
    margin-left: 5px;
}

hr {
    width: 302px;
    height: 1px;
    border: 1px solid var(--very-dark-blue-line);
}

/* SEC: Profile */
.creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.profile-pic {
    width: 33px;
    height: 33px;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.creator p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--soft-blue);
    padding-left: 15px;
}

.creator a {
    text-decoration: none;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--white);
}